/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */

body {
  background: white;
  font-family: "Montserrat", sans-serif;
}

body li a {
  color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  color: white;
  margin: 0;
  /* font-style: italic; */
  /* letter-spacing: 20px; */
  /* text-decoration: wavy; */
}

h1 strong {
  color: #2471fd;
}

h2 {
  color: #2471fd;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

body {
  margin: 0px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.menu {
  height: inherit;
}

.header nav {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

.header a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  height: inherit;
  padding: 0 10px;
}

.hero {
  height: 300px;
  /* background-image: url("../images/hero.jpg"); */
  /* background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right; */
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-image {
  object-fit: cover;
}

h1:hover {
  border-style: inset;
}

.portfolio {
  background: #fafafa;
  padding: 20px;
}

.project {
  border: 1px solid gray;
  border-top-left-radius: 50px;
  border-radius: 10px;
  padding: 20px;
  /* margin: 10px; */
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  background-color: #1b2127;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}

.project-description {
  font-size: 20px;
}
/* .project-date {
  margin: 10px 0;
} */

.portfolio strong {
  font-style: bold;
  text-transform: uppercase;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event {
  /* border: 1px solid red; */
  margin: 10px;
  width: 480px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
}

.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-detail {
  margin: 20px;
  background-color: white;
  margin-top: -40px;
  position: relative;
  padding: 20px 40px;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-url {
  border: 1px solid #056fff;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.event-list-title {
  margin-left: 20px;
}

.contact {
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact form {
  margin-left: 20px;
}

.social {
  /* border: 1px solid red; */
  margin-right: 20px;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  /* border: 1px solid white; */
  background-size: 50px 50px;
  margin: 0 10px;
}

.social-link.twitter {
  background-image: url("../images/twitter.svg");
}

.social-link.facebook {
  background-image: url("../images/facebook.svg");
}

.social-link.github {
  background-image: url("../images/github.svg");
}

.social-link.instagram {
  background-image: url("../images/instagram.svg");
}

.form-email input[type="email"] {
  border-color: gray;
  padding: 5px 30px;
  background-image: url("../images/envelope.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position-y: center;
  background-position-x: 5px;
  border-style: solid;
  border-radius: 5px;
}

.form-email input[type="submit"] {
  display: block;
  margin-top: 10px;
  background: transparent;
  color: white;
  padding: 10px 0px;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.form-email h3 {
  font-family: "Montserrat", sans-serif;
}

.container {
  /* border: 1px solid red; */
  /* width: 80%; */
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}


